node_modules/
.next/
.env
.env.local
content/
repo/
uploads/
*.log
.DS_Store
next-env.d.ts
tsconfig.tsbuildinfo

# segredos firebase
secrets/
*firebase-adminsdk*.json
android/app/google-services.json
